
@font-face {
    font-family: 'Civane';
    src: url('assets/fonts/civane/Civane-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #ffffff;
    color: #3d106d;
    font-family: 'Civane', sans-serif; 
    line-height: 1.6;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5%;
    background-color: #ffffff;
    border-bottom: 2px solid #3d106d;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li { margin-left: 20px; }

nav a {
    text-decoration: none;
    color: #3d106d;
    text-transform: uppercase;
    font-weight: bold;
}

.artist-grid {
    display: grid;
    grid-template-columns: 1fr; 
    gap: 20px;
    padding: 20px;
}

.artist-card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
}


@media (min-width: 768px) {
    .artist-grid {
        grid-template-columns: repeat(3, 1fr); 
    }
}

footer {
    text-align: center;
    padding: 40px;
    background: #3d106d;
    color: white;
}